<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Isfic"
        tools:targetApi="31">
        <activity
            android:name=".ActualStudentsList"
            android:exported="false" />
        <activity
            android:name=".utils.cv.EditNote"
            android:exported="false" />
        <activity
            android:name=".utils.cv.NotesActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".StudentCollect"
            android:exported="false" />
        <activity
            android:name=".carousels.WhatsIsficCarouselActivity"
            android:exported="false" />
        <activity
            android:name=".admin.LoginAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ChangepssActivity"
            android:exported="false" />
        <activity
            android:name=".admin.PasswordGenActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminPageActivity"
            android:exported="false" />
        <activity
            android:name=".utils.cv.samples.SampleCVActivity"
            android:exported="false" />
        <activity
            android:name=".utils.cv.CreateCVActivity"
            android:exported="false" />
        <activity
            android:name=".SIgnUpActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".notifs.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".carousels.DepCarouselActivity"
            android:exported="false" />
        <activity
            android:name=".carousels.FilCarouselActivity"
            android:exported="false" />
        <activity
            android:name=".vertif.VerifAccountActivity"
            android:exported="false" />
        <activity
            android:name=".LoginStdActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>